<section class="jumbotron text-center">
  <h2><img class="jumbo-thumbnail" src="https://cdn.auth0.com/styleguide/1.0.0/img/badge.svg"></h2>
  <% if session[:userinfo].present? %>
    <h1>Hello <%= session[:userinfo]["info"]["nickname"].presence || session[:userinfo]["info"]["name"].presence || "Anonymous" %>!</h1>
  <% else %>
    <h1>RoR Auth0 and Firebase Sample</h1>
    <p>Step 1 - Login.</p>
    <a class="btn btn-success btn-lg" href="/auth/auth0">With Auth0</a>
    <a class="btn btn-success btn-lg" id="js-firebase-auth" href="#">With Firebase Anonymous</a>
    <a class="btn btn-success btn-lg" id="js-firebase-google-auth" href="#">With Firebase Google</a>
  <% end %>
</section>
